.playpicLogoIcon {
  position: absolute;
  height: 100%;
  width: 54.12%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 45.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.poweredBy {
  position: absolute;
  top: 25.14%;
  left: 0;
}
.poweredByPlaypic {
  position: absolute;
  top: 782px;
  left: 98px;
  width: 194px;
  height: 15.91px;
}
.btnBackground,
.titleLogoIcon {
  position: absolute;
  top: 85px;
  left: 120px;
  width: 149px;
  height: 67px;
}
.btnBackground {
  height: 95.78%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 4.22%;
  left: 0;
  border: 4px solid var(--color-white);
  box-sizing: border-box;
}
.continue {
  position: absolute;
  height: 82.67%;
  width: 73.86%;
  top: 17.33%;
  left: 13.07%;
  line-height: 48px;
  text-transform: uppercase;
  display: inline-block;
}
.joinMatch {
  cursor: pointer;
}
.joinMatch,
.playLobbyActions,
.preGame {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.preGame {
  height: 17.12%;
  top: 82.88%;
}
.theWinner {
  margin: 0;
}
.theWinnerHasContainer {
  position: absolute;
  top: 0;
  left: 15.2%;
  font-size: 19px;
  line-height: 35px;
}
.groupChild,
.preGameParent {
  position: absolute;
  top: 143px;
  left: 70px;
  width: 174px;
  height: 174px;
}
.preGameParent {
  height: 51.9%;
  width: 84.36%;
  top: 27.84%;
  right: 7.95%;
  bottom: 20.26%;
  left: 7.69%;
  text-align: center;
  font-size: 26px;
}
.finishedPlaying {
  position: relative;
  background-color: #00f;
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-press-start-2p);
}
