.playpicLogoIcon {
  position: absolute;
  height: 100%;
  width: 54.12%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 45.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.poweredBy {
  position: absolute;
  top: 25.14%;
  left: 0;
}
.poweredByPlaypic,
.titleLogoIcon {
  position: absolute;
  top: 782px;
  left: 98px;
  width: 194px;
  height: 15.91px;
}
.titleLogoIcon {
  top: 85px;
  left: 120px;
  width: 149px;
  height: 67px;
}
.a183oz,
.matchCode {
  position: absolute;
  line-height: 48px;
}
.a183oz {
  height: 58.49%;
  width: 100%;
  top: 41.51%;
  left: 0;
  display: inline-block;
}
.matchCode {
  top: 0;
  left: 18.52%;
  font-size: 14px;
}
.a183ozParent {
  position: absolute;
  height: 27.89%;
  width: 73.86%;
  top: 35.79%;
  right: 13.07%;
  bottom: 36.32%;
  left: 13.07%;
}
.matchFrameChild {
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid var(--color-white);
  box-sizing: border-box;
  width: 329px;
  height: 380px;
}
.matchFrame {
  position: absolute;
  height: 45.02%;
  width: 84.36%;
  top: 31.4%;
  right: 7.95%;
  bottom: 23.58%;
  left: 7.69%;
  cursor: pointer;
  text-align: center;
  font-size: 26px;
}
.startScreenBlue {
  position: relative;
  background-color: #00f;
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
  font-family: var(--font-press-start-2p);
}
